body {
  font-family: var(--open-sans);
}

nav {
    background-color: var(--black);
    color: var(--white);
    width: 100%;
    margin: 0;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
}

nav > div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

nav a {
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
}
  
header {
    margin-top: 3rem;
    text-align: center;
  }
  
h1 {
  font-family: var(--work-sans);
  font-weight: 300;
  font-size: 2.8rem;
}

h2 {
  font-family: var(--work-sans);
  font-weight: 300;
  font-size: 1.6rem;
}

h3 {
  font-family: var(--work-sans);
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
}

footer {
  text-align: center;
  margin: 5rem auto;
  font-family: var(--work-sans);
  font-weight: 400;
  text-transform: lowercase;
}

footer a {
  text-decoration: none;
  color: var(--purple);
}